*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
.section {
  padding: 60px 0;
  @include tablet {
    padding: 100px 0;
  }
  @include desktop {
    padding: 100px 0;
  }
}
.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 480px;
  @include tablet {
    max-width: 768px;
    padding: 0 24px;
  }
  @include tablet {
    max-width: 1280px;
  }
}
.container__page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  @include tablet {
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px;
  }
  @include desktop {
    justify-content: space-between;
    align-items: flex-start;
  }
}
img {
  display: block;
}
input {
  border: none;
  outline: none;
}
