$main-font:'Montserrat', sans-serif;
$secondary-font:'Inter', sans-serif;
$white-font: #FFFFFF;
$black-font:  #000000;
$modal-text:#5C5C5C;
$buttondefault:#E86F54;
$svgcolor:#0E0E0E;
$correct: #3CBC81;
$invalid:#E74A3B;
$placeholder: #11111166;
$button-hover:#E25B41;
$button-focus:#FA6F54;